doctype html
html(lang="en")
  include layout/layout
  head
  body(style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://wallpaperaccess.com/full/1691682.jpg') no-repeat;background-size: cover;")
    div(class="content-login")
      div(class="form-logo")
        image(src="/image/logo.png") 
      div(id="form-login")
        h1(style="text-align: center;") Login
        div(class="error")
        form
          labe Email:
          input(name="email" type="text")
          label(class="form-label") Password:
          input(name="password" type="password")
          div(class="form-button")
            button(type="submit" id="btn-login") Sign in
            button(type="button" onclick="redirectLogin('REGISTER');") Sign up
